@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dosis:wght@400;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bg img{
    width: 100vw;
    height: 100vh;
  opacity: 70%;

  
    overflow: hidden;
 
  

    background-position: center;
}
.container{
    height: 100vh;
    width: 100vw;
    background: url(Assets/kerala-background.jpeg) no-repeat center;
    background-size: cover;
    backdrop-filter: blur( 15.5px );
    position: relative;
}
.gradient{
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(244, 238, 244, 0.2));
}
.glass-panel{
    background: url(Assets/kerala-background.jpeg) no repeat cover/center;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40rem;
    width: 90rem;
    z-index: 1;

}
.no-gradient{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(Assets/kerala-background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 40rem;
    width: 90rem;
    z-index: 0;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    background-position: center;
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.menu {
    position: absolute;
    top: 100px;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    font-family: 'Bebas Neue', sans-serif;
    writing-mode: vertical-lr;
    transform: rotate(180deg);

}

.menu li a {
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    margin-bottom: 30px;
    letter-spacing: 0.5em;
    font-size: 18px;
    text-shadow:rgba( 31, 38, 135, 0.37 );
}
.menu li:hover{
    transition: transform 0.3s ease;
    text-shadow: 2px 2px 3px rgba(241, 241, 248, 0.814);
    transform: scale(1.1);
}

@media only screen and (max-width: 50em) {
    .container {
        width: 100vw;
    }

    .glass-panel, .no-gradient {
        width: 100%;
        left: 0;
        transform: translate(0, -50%);
    }

    .menu {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%) rotate(180deg);
        display: flex;
        flex-direction: row;
        writing-mode: vertical-lr;
    }
}
header h1{
    font-family: 'Bebas Neue';
    font-size: 6rem;
    color: #fff;
    position: absolute;
    left: 60px;
    top: 120px;
    letter-spacing: 3px;
}
.description{
    width: 350px;
    font-family: 'Dosis';
    font-weight: 500;
    color:#fff;
    position: absolute;
    top: 220px;
    left: 60px;
    text-shadow:2px 2px 3px rgba(2, 21, 4, 0.889);

}
.map-container {
    position: relative;
    top: 50%;
    left: 60%;
    transform: translateY(-50%);
    width: 500px;
}

#map-image {
    width: 500px;
    height: 500px;
}
#map-image:hover{
    transform: scale(1.1);
}


/*Details page*/


#forms{
    font-size: 80px;
    color: #686464;
    margin-top: 0px;
    margin-left: 100px;
}
    



a{

    text-decoration: none;
}


.container1 {

    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 600px;
   
    display: flex;
    transform-style: preserve-3d;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cards {

    position: relative;
    height: 500px;
    width: 430px;
    margin-bottom: 20px;
    perspective: 1000px;
    transform-style: preserve-3d;
}

.cards label {

    position: absolute;
    width: 430px;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    transition: transform 0.55s ease;
}
.name{
    display: block;
}

.cards .card{

    position: relative;
    height: 100%;
    background-color: #3f5a36;
    border-radius: 10px;
    padding: 30px 35px;
}

.card .image{

    display: flex;
    justify-content: space-between;
}

.card .image img{

    border-radius: 5px;
    box-shadow: 15px 15px 40px rgba(0, 0, 0, 50%);
    margin-top: 23px;
    width: 86%;
    height: 220px;
    object-fit: cover;
    margin-left: 25px;
}
.card .infos{

    display: block;
    text-align: end;
    padding-top: 60px;
}

.infos .name{

    font-size: 30px;
    color: var(--current-color1);
    letter-spacing: 8px;
    margin-bottom: 20px;
    padding-left: 25%;
    transition: all .6s ease;
}

.infos .lorem{
    margin-top: 5px;
    font-size: 15.5px;
    color: #ECEAED;
    letter-spacing: 3px;
}

.card .btn-contact{

    width: 100%;
    height: 60px;
    margin: 35px auto;
    border-radius: 5px;
    background-color: var(--current-color1);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 25px;
    letter-spacing: 5px;
    font-weight: 700;
    transition: all .7s ease;
    
}

.card .socials{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.socials i{

    font-size: 25px;
    transition: all .7s ease;
    color: var(--current-color2);
}



#s1:checked~.cards #slide4,
#s2:checked~.cards #slide5,
#s3:checked~.cards #slide1,
#s4:checked~.cards #slide2,
#s5:checked~.cards #slide3 {
    box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 45%);
    transform: translate3d(-70%, 0, -220px);
    --current-color1: #ECEAED;
    --current-color2: #b1e3f5;
}

#s1:checked~.cards #slide5,
#s2:checked~.cards #slide1,
#s3:checked~.cards #slide2,
#s4:checked~.cards #slide3,
#s5:checked~.cards #slide4 {
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 45%);
    transform: translate3d(-35%, 0, -120px);
    --current-color1: #ECEAED;
    --current-color2: #35c950;
}

#s1:checked~.cards #slide1,
#s2:checked~.cards #slide2,
#s3:checked~.cards #slide3,
#s4:checked~.cards #slide4,
#s5:checked~.cards #slide5 {
    box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 50%);
    transform: translate3d(0, 0, 0);
    --current-color1: #4cf84692;
    --current-color2: #ECEAED;
}

#s1:checked~.cards #slide2,
#s2:checked~.cards #slide3,
#s3:checked~.cards #slide4,
#s4:checked~.cards #slide5,
#s5:checked~.cards #slide1 {
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 45%);
    transform: translate3d(35%, 0, -120px);
    --current-color1: #ECEAED;
    --current-color2: #404457;
}

#s1:checked~.cards #slide3,
#s2:checked~.cards #slide4,
#s3:checked~.cards #slide5,
#s4:checked~.cards #slide1,
#s5:checked~.cards #slide2 {
    box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 45%);
    transform: translate3d(70%, 0, -220px);
    --current-color1: #ECEAED;
    --current-color2: #404457;
}