body {
    font-family: Arial, sans-serif;
    margin: 10px;
    font-size: larger;
    align-items: center;
    text-align: center;
    background: url('./Assets/form2.jpg') no-repeat center;
    background-size: cover;

}
form {
    max-width: 100%;
    margin: 300px;
    border: 2px;
    margin-left: 400px;
    
}
select{
    padding: 5px;
    height: 40px;
    font-size: larger;
    margin: 5px;
    border-radius: 20px;
    background-color:rgb(240, 206, 122) ;
}
label {
    display: block;
    margin-bottom: 5px;
    font-size: 35px;
    width:400px;
    margin: 10px;
    color: black;
    font-weight: 300;
}
input {
    width: 50%;
    padding: 5px;
    padding-left: 10px;
    margin: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    border:2px solid black;
    display:block;
    background-color: rgb(240, 206, 122);
    font-size: larger;
}
button {
    background-color: rgb(240, 206, 122);
    color: black;
    padding:5px;
    height:40px;
    font-size: larger;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 400;
    border: 1px solid black;
    margin: 20px;
    
}
button:hover{
    background-color: antiquewhite;
    color: black;
    opacity: 0.3;
    transition-duration: 0.3s;
   
    font-weight: 400;
}
#result {
    position: absolute;
    top:96%;
    left: 40%;
    border:2px solid black;
    font-size: 25px;
    border-radius: 30px;
    padding: 5px;
}
.flex{
    display: flex;
}